html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $color-primary-white;
  color: $color-text;
  font-family: $font-primary-stack;
}

.page {
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.products-title,
.news-section {
  font-family: $font-secondary-stack;
  color: $color-title-font;
  margin: 0;
  text-align: center;
}
