:root {
  --light-blue-color: #e9f0fd;
  --white-color: #ffffff;
  --black-color-font: #0f0101;
  --title-color-font: #555252;
  --accent-color: #1abc9c;
  --text-color: #828080;
  --description-color: #323232;
  --price-color: #8c8c8c;
  --active-color: #ff0000;
  --primary-font-stack: 'Open Sans', sans-serif;
  --title-font-stack: 'Roboto', sans-serif;
  --animation-time: 250ms;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}
