$color-secondary-white: #e9f0fd;
$color-primary-white: #ffffff;
$color-primary-font: #0f0101;
$color-title-font: #555252;
$color-accent: #1abc9c;
$color-text: #828080;
$color-description: #323232;
$color-price: #8c8c8c;
$color-active: #ff0000;
$font-primary-stack: 'Open Sans', sans-serif;
$font-secondary-stack: 'Roboto', sans-serif;
$animation-time: 250ms;
$timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
