.letter {
  background-image: url('../images/letter/submit.png');
  min-height: 462px;
}

.newsletter {
  margin-bottom: 31px;
}

.newsletter__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 0.66;
  text-align: center;
  color: #515151;
  margin: 0;

  &::after {
    content: '';
    display: flex;
    width: 100%;
    height: 15px;
    background-image: url('../images/letter/whiteline.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 31px;
  }
}

.newsletter__text {
  margin: 0;
  padding: 0;
  text-align: center;
  color: $color-primary-white;
  margin-bottom: 40px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 40px;
}

.newsletter-submit {
  width: 550px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1 solid red;
  margin-left: auto;
  margin-right: auto;
}

input {
  font-family: inherit;
  font-size: 16px;
  width: 450px;
  height: 68px;
  border: 1px solid $color-primary-white;
  text-indent: 28px;
}

.newsletter-submit__btn {
  all: unset;
  transform: scale(1);

  &:hover,
  &:focus {
    transform: scale(1.1);
    border: 2px solid $color-primary-font;
  }
}

.newsletter-submit__icon {
  display: block;
  width: 100px;
  height: 64px;
  fill: $color-primary-white;
  border: 2px solid $color-primary-white;
  background-color: #4ec6ab;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  text-decoration: none;
  transform: scale(1);

  &:hover,
  &:focus {
    transform: scale(1.1);
    border: 2px solid $color-primary-font;
  }
}
